<!DOCTYPE html>
<html lang="en">
<head>
  <title>Club Membership</title>
    <!--import the Vue.js library-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--css styles -  -->
  <style>
    
      .selected {
        text-decoration: line-through ;
        font-style: italic;
        color: gray;
      }

      input {
          width: 100%;
          padding: 5px;
          margin: 5px 5px 5px 0px;
          box-sizing: border-box;
      }

  </style>

</head>
<body>

<div id="app"> <!-- root element for vue app, where vue will mount and manage everything inside it-->
    <h1>Student Club Roster</h1>

    <h2>Add Students</h2>

    <label for="student-name">Student Name</label> <!--directive creates two-way binding between the input field and newStudentName-->
    <!-- Use v-model to connect this input to a ref called newStudentName -->
    <input id="student-name" name="student-name" v-model="newStudentName"> <!--text entered will be stored in newStudentName-->

    <br>

    <label for="student-id">Student ID</label> <!--connect student id input field with newStudentId-->
    <!-- Use v-model to connect this input to a ref called newStudentId -->
    <input id="student-id" name="student-id" v-model="newStudentID">

    <br>

    <label for="student-gpa">Student GPA</label> <!--bind GPA input field to newStudentGpa-->
    <!-- Use v-model to connect this input to a ref called newStudentGpa -->
    <input id="student-gpa" name="student-gpa" type="number" v-model="newStudentGpa"> <!--type ="number" restricts input to numbers, make sure GPA is numerical-->

    <br>

    <!-- Use v-on to call addNewStudent function. Complete the addNewStudent function in the script. -->
    <button id="add-student" v-on:click="addNewStudent">Add Student</button> <!--bind click event on the button to addNewStudent function, when user cicks button, call addNewStudent function in app-->  

    <h2>Student List</h2>

    <p>There is/are 
        <span id="student-count">
            {{ studentCount  }} <!--shows number of students using studentCount computed property-->
        <!-- Create a computed property called studentCount and use it to display the student count here -->
        </span> 
    student(s) in the club.</p>
    

    <ul id="student-list"> <!-- ul displays each student in student list as array li element-->
        <!-- use v-for to create li elements, one for each student -->
         <!--v-for loops over each student in list and creates li item, v-on:click calls selectOrUnselect when li clicked, v-bind applies the selected CSS class if student.selected is true-->
        <li v-for="student in studentList" v-on:click="selectOrUnselectStudent(student)" v-bind:class="{ selected: student.selected }">
            <!-- Modify this to display the student's data more neatly - display their name, ID and GPA. -->
            <!-- for example "Beyonce Knowles, id: aa1234bb, GPA 3.8" -->
            {{ student.name }}, id:  {{ student.id }}, GPA: {{ student.gpa }} <!-- display computed properites-->
        </li>
    </ul>

    <!-- Add a v-on to call removeSelectedStudents -->
     <!-- calls removeSelectedStudents when clicked to delete all selected students in studentList-->
    <button id="remove-selected-students" v-on:click="removeSelectedStudents">Remove selected students</button>

</div>  <!-- end of div#app -->

<script>

    /* This app will store a list of student objects. Each student object should have this structure,
    {name: 'Beyonce Knowles', id: 'aa1234bb', gpa: 3.8, selected: false}
    
    Add the following functionality to this page
        * Display the number of students in the student-count span. Keep this value up to date as students are added and removed, using a computed property. 
    
        * When the add student button is clicked 
            - Read the value from the student-name input, save in a variable. If the name is not entered, show an alert error message and return. (1pt)
            - Read the value from the student-id input, save in a variable. If the id is not entered, show an alert error message and return. (1pt)
            - Read the value from the student-gpa input, save in a variable. If the GPA is not entered, or is not in the range 0-4, show an alert error message and return.  (1pt)
        
        * An event handler that toggles the selected value for a student object is provided for you. 
        * Each li element will use the appropriate class based on whether a student is selected or not. 
        * When the Remove selected students is clicked, remove all selected students. 
        
    */


    const { createApp, ref, computed } = Vue // import createApp, ref, computed from Vue

    createApp({
        setup() {

            // Create a new ref studentList. This will be an array. The array can be empty, or you can create an example student or students if you like. 
            
            // Create a new ref newStudentName, initially an empty string
            // Create a new ref newStudentId, initially an empty string
            // Create a new ref newStudentGpa, initially an empty string

            // Use this for form validation 
            const studentList = ref([]) // studentList ref, empty array - stores name, id, gpa
            const newStudentName = ref("") // newStudentName ref, empty string - used to bind form inputs for new student info
            const newStudentId = ref("") // newStudentId ref, empty string - used to bind form inputs for new student info
            const newStudentGpa = ref("") // newStudentGpa ref, empty string - used to bind form inputs for new student info
            const errors = ref([]) // errors ref, array, stores error message for the validation

            // Create a computed property studentCount. This will set the value to the length of the student list. 
            const studentCount = computed(() => studentList.value.length) // count students in studentList, a reactive way to show total number of students

            const addNewStudent = () => { // clear previous errors and validate input fields
                // Set the errors value to an empty array 
                errors.value = [] // reset errors ref to an empty array

                // Read the value from newStudentName. If it is empty, add an error message to the end of the errors ref.
                // Read the value from newStudentId. If it is empty, add an error message to the end of the errors ref.
                // Read the value from newStudentGPA. If it is empty, add an error message to the end of the errors ref.
                //  And, check that newStudentGPA is between 0 and 4. If not, add an error message to the end of the errors ref.
                
                // perform validation checks
                // make sure user has entered correct info
                // check if newStudentName is empty or not, if empty display error message
                if (!newStudentName.value) errors.value.push("Student name is required!")
                // check if newStudentID is empty or not and show message if empty
                if (!newStudentId.value) errors.value.push("Student ID is required!")
                // check if GPA is empty "", less than 0, greater than 4, if condition is true, display message
                if (newStudentGpa.value === "" || newStudentGpa.value < 0 || newStudentGpa > 4) {
                    errors.value.push("Student GPA must be between 0 and 4!")
                }

                // Check the length of errors. If it is more than 0, show an alert with the error message(s)
                if (errors.value.length > 0) { // check length of error.value
                    alert(errors.value.join('\n')) // if error message, display all messages in alert box, join them on newline 
                } else { // else
                    // Create a new student object with properties name, id, gpa, selected. 
                    // Set name to newStudentName's value
                    // Set id to newStudentId's value 
                    // Set gpa to newStudentGpa's value
                    // Set selected to false 

                    // Add this new object to the end of studentList 

                    // Set the value of newStudentName, newStudentId, newStudentGpa to empty strings, to clear the form 
                    studentList.value.push({ // new student object created
                        name: newStudentName.value, // name is of object is set to newStudentName
                        id: newStudentId.value, // id is set to newStudentID
                        gpa: parseFloat(newStudentGpa), // gpa set to newStudentGpa, convert with parse float
                        selected: false, // selected set to false by default, student not intially marked as selected
                    }) 
                    // after adding student code resets these to empty strings, clears form, user can then add another student without erasing the previous
                    newStudentName.value = ""
                    newStudentId.value = ""
                    newStudentGpa.value = ""
                }
            }
            // removeSelectedStudents function - remove students who have been selected
            const removeSelectedStudents = () => {
                // Remove all students with selected = true from the studentList. You can do this with filter,
                // or you can make a new empty array, loop over the studentList, and copy all selected = false students
                // to the new list, then replace the value of studentList with the new array 
                studentList.value = studentList.value.filter(student => !student.selected) //use filter method to create new array with only students who selected property is false
            } // studentList.value is set to filtered array, removing all students with selcted = true

            // selectOrUnselectedStudent function - allow user to select or unselect student by toggling selected property
            const selectOrUnselectStudent = (student) => { // 
                // This function is completed for you. If the selected property is true, it is changed to false. 
                // if the selected property is false, it is changed to true. 
                student.selected = !student.selected // selected property of student is changed to opposite of current value 
            } // if selected is false, becomes true, and if true, becomes false, allow user to click a student entry to either select or deselect


            return { // return all data and functions needed for vue to bind to html
                // List all the refs and functions and computed properties
                studentList,
                newStudentName,
                newStudentId,
                newStudentGpa,
                studentCount,
                
                addNewStudent,
                removeSelectedStudents,
                selectOrUnselectStudent, 
            }
        }
    }).mount('#app')


</script>

</body>
</html>